/* InfoCard.css */

.info-card {
    animation: slideUp 0.5s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(80px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .info-card-img {
    animation: fadeInZoom 1.8s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes fadeInZoom {
    from {
      transform: scale(0.50);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .info-card-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }
  
  /* Blinking effect for Active status */
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .active-blink {
    animation: blink 1s infinite;
  }
  